In [232]:
import pandas as pd

In [278]:
df = pd.read_csv("./Data/train.csv")
# print(df)

In [248]:
# print(df[['Pclass', 'Survived']])

In [161]:
import numpy as np
srate = np.array(df[['Pclass', 'Survived']])
print(srate)

[[3 0]
 [1 1]
 [3 1]
 ...
 [3 0]
 [1 1]
 [3 0]]

In [163]:
count = np.unique(np.array(df["Pclass"]))
count = len(count)
ls = [None] * count
for index, elem in enumerate(ls):
    ls[index] = [None] * 2
    
print(ls)

[[None, None], [None, None], [None, None]]

In [ ]:
for elem in np.nditer(srate[:1, :]):
    if ls[elem - 1][1] is None:
        ls[elem - 1][1] = 1
    else:
        ls[elem - 1][1] = ls[elem - 1][1] + 1
    if ls[elem - 1][0] is None:
        ls[elem - 1][0] = 0 + 
    ls[elem - 1][0] = ls[elem - 1]

In [275]:
# QUESTION 1

df1 = pd.DataFrame()
for i in range(1,4):
    print (i,len(df[(df['Pclass'] == i) & (df['Survived'])]) / len(df[(df['Pclass'] == i)]))
    trow = pd.DataFrame([[i,len(df[(df['Pclass'] == i) & (df['Survived'] == 1)]) / len(df[(df['Pclass'] == i)])]])
    df1 = df1.append(trow)

df1.columns = ['Pclass', 'Survived']
print(df1)
df1.to_csv("1.csv", index = False)

1 0.6296296296296297
2 0.47282608695652173
3 0.24236252545824846
   Pclass  Survived
0       1  0.629630
0       2  0.472826
0       3  0.242363

In [276]:
# QUESTION 2
dffare = df.sort_values(by = "Fare", ascending = False)
print(dffare.head())
dffare.head().to_csv("2.csv", index = False)

     PassengerId  Survived  Pclass                                Name  \
258          259         1       1                    Ward, Miss. Anna
737          738         1       1              Lesurer, Mr. Gustave J
679          680         1       1  Cardeza, Mr. Thomas Drake Martinez
88            89         1       1          Fortune, Miss. Mabel Helen
27            28         0       1      Fortune, Mr. Charles Alexander

        Sex   Age  SibSp  Parch    Ticket      Fare        Cabin Embarked
258  female  35.0      0      0  PC 17755  512.3292          NaN        C
737    male  35.0      0      0  PC 17755  512.3292         B101        C
679    male  36.0      0      1  PC 17755  512.3292  B51 B53 B55        C
88   female  23.0      3      2     19950  263.0000  C23 C25 C27        S
27     male  19.0      3      2     19950  263.0000  C23 C25 C27        S

In [221]:
# df3 = pd.DataFrame()
# for column in df:
#     trow = pd.DataFrame([[column, df[column].isnull().sum()]])
# df3 = pd.DataFrame(columns = ['Column', 'Missing'])

# QUESTION 3
df3 = df.isnull().sum(axis = 0)
df3.columns = ['Column', 'Missing']
print(df3)

# df3 = pd.DataFrame(df3, columns = ['Column', 'Missing'])

df3.to_csv("3.csv", index = False)

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [226]:
# QUESTION 4

df4 = pd.DataFrame(columns = ['Col'])
agemed = df['Age'].median()
# print("BEFORE:")
# df4 = df.isnull().sum()
# print(df4)

df['Age'].fillna(agemed, inplace = True)

# print("AFTER:")
df4 = df.isnull().sum()
print(df4)
df4.to_csv("4.csv")

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [277]:
# QUESTION 5
df5 = pd.DataFrame(columns = df.columns)
# for i in range ()
# print(df5)
# print("df.index =", df.index)
# # print("df.index.tolist() =", df.index.tolist())
# print("len(df.index.tolist()) =", len(df.index.tolist()))
# print("len(df.index.tolist()) =", len(df.index.tolist()))
# print("len(df) =", type(len(df)))
# print("type(df.index) =", type(df.index))

# for i in range(len(df)):
# #     print (i,len(df[(df['Pclass'] == i) & (df['Survived'])]) / len(df[(df['Pclass'] == i)]))
#     print (df[(df['Age'] > 60)])
#     trow = df[(df['Age'] > 60)]
#     df5 = df5.append(trow)

trow = df[(df['Age'] > 60)]
df5 = df5.append(trow)
    
print (df5)
df5.to_csv('5.csv', index = False)

    PassengerId Survived Pclass                                       Name  \
33           34        0      2                      Wheadon, Mr. Edward H
54           55        0      1             Ostby, Mr. Engelhart Cornelius
96           97        0      1                  Goldschmidt, Mr. George B
116         117        0      3                       Connors, Mr. Patrick
170         171        0      1                  Van der hoef, Mr. Wyckoff
252         253        0      1                  Stead, Mr. William Thomas
275         276        1      1          Andrews, Miss. Kornelia Theodosia
280         281        0      3                           Duane, Mr. Frank
326         327        0      3                  Nysveen, Mr. Johan Hansen
438         439        0      1                          Fortune, Mr. Mark
456         457        0      1                  Millet, Mr. Francis Davis
483         484        1      3                     Turkula, Mrs. (Hedwig)
493         494        0      1                    Artagaveytia, Mr. Ramon
545         546        0      1               Nicholson, Mr. Arthur Ernest
555         556        0      1                         Wright, Mr. George
570         571        1      2                         Harris, Mr. George
625         626        0      1                      Sutton, Mr. Frederick
630         631        1      1       Barkworth, Mr. Algernon Henry Wilson
672         673        0      2                Mitchell, Mr. Henry Michael
745         746        0      1               Crosby, Capt. Edward Gifford
829         830        1      1  Stone, Mrs. George Nelson (Martha Evelyn)
851         852        0      3                        Svensson, Mr. Johan

        Sex   Age SibSp Parch       Ticket      Fare        Cabin Embarked
33     male  66.0     0     0   C.A. 24579   10.5000          NaN        S
54     male  65.0     0     1       113509   61.9792          B30        C
96     male  71.0     0     0     PC 17754   34.6542           A5        C
116    male  70.5     0     0       370369    7.7500          NaN        Q
170    male  61.0     0     0       111240   33.5000          B19        S
252    male  62.0     0     0       113514   26.5500          C87        S
275  female  63.0     1     0        13502   77.9583           D7        S
280    male  65.0     0     0       336439    7.7500          NaN        Q
326    male  61.0     0     0       345364    6.2375          NaN        S
438    male  64.0     1     4        19950  263.0000  C23 C25 C27        S
456    male  65.0     0     0        13509   26.5500          E38        S
483  female  63.0     0     0         4134    9.5875          NaN        S
493    male  71.0     0     0     PC 17609   49.5042          NaN        C
545    male  64.0     0     0          693   26.0000          NaN        S
555    male  62.0     0     0       113807   26.5500          NaN        S
570    male  62.0     0     0  S.W./PP 752   10.5000          NaN        S
625    male  61.0     0     0        36963   32.3208          D50        S
630    male  80.0     0     0        27042   30.0000          A23        S
672    male  70.0     0     0   C.A. 24580   10.5000          NaN        S
745    male  70.0     1     1    WE/P 5735   71.0000          B22        S
829  female  62.0     0     0       113572   80.0000          B28      NaN
851    male  74.0     0     0       347060    7.7750          NaN        S

In [241]:
# QUESTION 6
df6 = pd.DataFrame(columns = ['Pclass', 'Embarked', 'mean', 'std'])

# PclassList = np.unique(np.array(df["Pclass"]))
# print (PclassList)

pclassGroup = df.groupby(['Pclass', 'Embarked'])
print (pclassGroup['Fare'].agg([np.mean, np.std]))
df6 = pd.DataFrame(pclassGroup['Fare'].agg([np.mean, np.std]))
print(type(df6))
df6.to_csv('6.csv')

                       mean        std
Pclass Embarked
1      C         104.718529  99.093935
       Q          90.000000   0.000000
       S          70.364862  58.811278
2      C          25.358335  11.345067
       Q          12.350000   0.000000
       S          20.327439  13.630741
3      C          11.214083   4.871528
       Q          11.183393   6.721677
       S          14.644083  13.276609
<class 'pandas.core.frame.DataFrame'>

In [249]:
# QUESTION 7
# remove the mrs, mr, miss from names
import re
titleRegex = re.compile(r'(Miss\.|Mr\.|Mrs\.|Ms\.)')
mo = titleRegex.search("Mr. Kevin George Joe")
print("found:", mo.group())

# df7 = pd.DataFrame(columns = ['Name', 'Title'])
df7 = pd.DataFrame()

print(df.head(2))
# print(df.get_value(1,'Name'))
print(type(df.iloc[1]['Name']))

for i in range(len(df)):
    mo = titleRegex.search(df.iloc[i]['Name'])
    if mo != None:
        df7 = df7.append(pd.DataFrame([[df.iloc[i]['Name'], mo.group()]])) 
        
# trow = [df['Name'].iloc[i], titleRegex.search(df['Name'].iloc[i]).group()]

df7.columns = ['Name', 'Title']
# print(df7)
# print("df7.shape", df7.shape)



df7.to_csv("7.csv", index = False)

found: Mr.
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1

   Parch     Ticket     Fare Cabin Embarked
0      0  A/5 21171   7.2500   NaN        S
1      0   PC 17599  71.2833   C85        C
<class 'str'>

In [209]:
print(df.head(10))

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3
5            6         0       3
6            7         0       1
7            8         0       3
8            9         1       3
9           10         1       2

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0
5                                   Moran, Mr. James    male   0.0      0
6                            McCarthy, Mr. Timothy J    male  54.0      0
7                     Palsson, Master. Gosta Leonard    male   2.0      3
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
5      0            330877   8.4583   NaN        Q
6      0             17463  51.8625   E46        S
7      1            349909  21.0750   NaN        S
8      2            347742  11.1333   NaN        S
9      0            237736  30.0708   NaN        C

In [267]:
# QUESTION 8
df8 = pd.read_csv('7.csv')
# print(df8)
unique, counts = np.unique(df8['Title'], return_counts = True)
total = int(np.sum(counts))
# print('total =', total)
  
titleDict = dict(zip(unique, counts))

meanDict = {}
for i in titleDict:
    meanDict[i] = titleDict[i] / total
# print("titleDict =", titleDict)
# print("meanDict =", meanDict)

titleCountList = []
titleMeanList = []
for i in range(len(df8)):
    titleCountList.append(titleDict[df8.iloc[i]['Title']])
    titleMeanList.append(meanDict[df8.iloc[i]['Title']])
# print(titleCountList)

df8['Title_count'] = titleCountList
df8['Title_mean'] = titleMeanList

# print(df8)

df8.to_csv('8.csv', index = False)

titleDict = {'Miss.': 182, 'Mr.': 517, 'Mrs.': 125, 'Ms.': 1}
meanDict = {'Miss.': 0.2206060606060606, 'Mr.': 0.6266666666666667, 'Mrs.': 0.15151515151515152, 'Ms.': 0.0012121212121212121}

In [274]:
# QUESTION 9
df9 = pd.read_csv('7.csv')
uniqueTitles = np.unique(df9['Title'])
df9 = pd.DataFrame(uniqueTitles, columns = ['Title'])
print("type(uniqueTitles)", type(uniqueTitles))
print(df9)
df9.to_csv('9.csv', index = False)

type(uniqueTitles) <class 'numpy.ndarray'>
   Title
0  Miss.
1    Mr.
2   Mrs.
3    Ms.

In [331]:
# QUESTION 4
agemed = df['Age'].median()
print(agemed)
# print(df)
# pidList = df['PassengerId'].tolist()
# ageList = df['Age'].fillna(agemed).tolist()

pidList = df['PassengerId'].tolist()
ageList = df['Age'].fillna(agemed).tolist()

df4 = pd.DataFrame()
df4['PassengerId'] = pidList
df4['Age'] = ageList
df4.to_csv('4.csv', index = False)

28.0

In [313]:
# QUESTION 3
# print("df.info", df.info)
count_nan = len(df) - df.count()
# print("count_nan =", count_nan)
df3 = pd.DataFrame(count_nan, columns = ['Missing']) # columns = ['Column', 'Missing']
# print((df.columns.tolist()))
df3['Column'] = df.columns.tolist()
df3 = df3[['Column', 'Missing']]

df3.to_csv('3.csv', index = False)